* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif
}

.nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, #2392e7, #38bdfb);
    padding: 0;
    color: white
}

.brand {
    width: 255px;
    height: 100%;
    background-color: white;
    color: #343434;
    font-size: 20px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.brand:hover {
    cursor: pointer
}

.menu-icon {
    display: none;
    height: 100%;
    cursor: pointer;
    color: hsla(0, 0%, 100%, .5);
    border-color: hsla(0, 0%, 100%, .1);
    outline: 0;
    padding: 4px 12px;
    font-size: 36px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
        /* display: inline-block;
    text-align: center;
    align-items: flex-start; */
}

.menu-icon i {
    padding: 0;
    margin: 0
}

.nav-left-side {
    height: 100%;
    margin-left: 40px;
    float: left;
    display: flex;
    flex-direction: row;
    font-size: 14px
}

.nav-right-side {
    height: 100%;
    margin-right: 40px;
    float: right;
    display: flex;
    flex-direction: row;
    font-size: 18px
}

.nav-item {
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.nav-item i {
    margin-right: 8px
}

.nav-item:hover {
    cursor: pointer;
}

.nav-right-side .nav-item {
    padding: 0 5px;
    position: relative;
}

.badge {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    background-color: #ff0017;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 32px;
    right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-image: url("avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.nav-right-side:last-child {
    padding-right: 0
}

.inbox-dropdown {
    display: none;
    width: 360px;
    height: 275px;
    padding: 8px 0;
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, .1);
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: dropdownAnimation;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 16px
}

.notif-dropdown {
    display: none;
    width: 160px;
    padding: 8px 0;
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, .1);
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: dropdownAnimation;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 8px
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
        transform: translateZ(0);
    }
}

.drp-header {
    padding: 11px 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center
}

.drp-header:hover {
    color: #16181b;
    background-color: #f8f9fa
}

.drp-badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 6px;
    margin-left: 40px;
    background-color: #ffc105;
    color: #ffffff;
    border-radius: 10rem
}

.drp-item {
    padding: 11px 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: row;
}

.drp-item:hover {
    background-color: #f8f9fa;
    color: #16181b
}

.drp-item:last-child {
    border: none
}

.preview-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ffffff;
    font-size: 16px;
    padding: 6px
}

.preview-icon i {
    padding: 0;
    margin: 0
}

.bg-success {
    background-color: #08d419 !important
}

.bg-warning {
    background-color: #ffc105 !important
}

.bg-info {
    background-color: #745af2 !important
}

.drp-item-text-container {
    padding: 0 0 0 15px;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: column
}

.drp-item-title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.2
}

.drp-item-text {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1
}

.nav-menu {
    width: 100%;
    height: 0;
    position: fixed;
    top: 60px;
    z-index: 1;
    background: linear-gradient(to right, #2392e7, #38bdfb);
    padding: 0;
    color: white;
    overflow: auto;
    transition: 0.3s
}

.nav-menu-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column
}

.nav-menu-list li {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
}

.nav-menu-list li i {
    margin-right: 8px
}

.nav-menu-list li:hover {
    cursor: pointer;
}



.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.side-nav {
    width: 255px;
    color: #212529;
    padding: 30px 0 50px;
    font-size: 16px
}

.side-nav ul {
    list-style-type: none
}

.side-nav ul li {
    display: flex;
    flex-direction: row;
    padding: 16px 30px;
    color: #4a4949;
    font-size: 14px;
    cursor: pointer
}

.side-nav ul li:hover {
    background: #f1f6ff !important;
    color: #4a4949;

}

.side-nav ul li.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 26px 36px 19.008px;
    cursor: default !important
}


.side-nav ul li.profile:hover {
    background-color: #ffffff
}

.side-nav ul li i {
    width: 16px;
    margin-right: 20px
}

i.menu-arrow {
    margin-left: auto;
    margin-right: 0;
    color: #404852;
}

.side-nav ul li.dropdown-btn:hover {
    cursor: default !important
}

.side-nav-avatar {
    width: 70px;
    height: 70px
}

.avatar-text-wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.avatar-text-wrapper p.name {
    line-height: 1.5;
    font-weight: 500;
    font-size: 15px;
    cursor: auto
}

.avatar-text-wrapper p.designation {
    color: #8d9498;
    font-size: 12px;
    line-height: 1.5;
    cursor: auto
}

.avatar-text-wrapper .profile-badge {
    color: #ffffff;
    background-color: #58d8a3;
    margin-top: 16px;
    padding: 4px 6px;
    border: 1px solid #58d8a3;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    cursor: auto
}

.side-nav-dropdown-list {
    width: 100%;
    list-style-type: none;
    background-color: #f1f6ff;
    color: #212529;
    font-size: 16px;
    padding: 0 0 0 36px;
    overflow: hidden;
    transition: 0.3s
}

.side-nav-dropdown-list li {
    color: #4a4949;
    font-size: 14px;
    padding: 12px 16px
}

.side-nav-dropdown-list li:hover {
    color: #000000 !important
}

.ui-components-drp {
    height: 0;
}

.sample-pages-drp {
    height: 0
}


.main-panel {
    width: calc(100% - 255px);
    background-color: #f6f8fa;
    padding: 24px 27.2px
}

.row {
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap
}

.card {
    max-width: 25%;
    width: 100%;
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative
}

.card .card-body {
    padding: 1.88rem 1.81rem;
    flex: 1 1 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-content {
    vertical-align: middle;
    position: relative;
}

.card-content .card-icon {
    float: left;
    font-size: 36px;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0
}

.card-icon i {
    padding: 0;
    margin: 0
}

.color-success {
    color: #69d9a4
}

.color-warning {
    color: #ffc105
}

.color-info {
    color: #745af2
}

.color-danger {
    color: #ff0017
}

.card-content .card-info {
    float: right !important;
    text-align: right;
    color: #212529
}

.card-muted-text {
    margin-top: 1rem !important;
    color: #c2c2c2 !important
}

.card-info p {
    display: block;
    font-size: .88rem;
    padding: 0
}

.card-info h3 {
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 1.56rem
}

@media screen and (max-width: 992px) {
    .brand {
        width: 177px;
    }

    .side-nav {
        display: none
    }

    .main-panel {
        width: 100%
    }
}


@media screen and (max-width: 768px) {
    .brand {
        float: right;
        width: 255px
    }

    .nav-right-side {
        display: none
    }

    .nav-left-side {
        display: none
    }

    .menu-icon {
        display: inline-block
    }

    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 576px){
    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}