* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px
}

.nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, #2392e7, #38bdfb);
    padding: 0;
    color: white
}

.brand {
    width: 255px;
    height: 100%;
    background-color: white;
    color: #343434;
    font-size: 20px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.brand:hover {
    cursor: pointer
}

.menu-icon {
    display: none;
    height: 100%;
    cursor: pointer;
    color: hsla(0, 0%, 100%, .5);
    border-color: hsla(0, 0%, 100%, .1);
    outline: 0;
    padding: 4px 12px;
    font-size: 36px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
}

.menu-icon i {
    padding: 0;
    margin: 0
}

.nav-left-side {
    height: 100%;
    margin-left: 40px;
    float: left;
    display: flex;
    flex-direction: row;
    font-size: 14px
}

.nav-right-side {
    height: 100%;
    margin-right: 40px;
    float: right;
    display: flex;
    flex-direction: row;
    font-size: 18px
}

.nav-item {
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.nav-item i {
    margin-right: 8px
}

.nav-item:hover {
    cursor: pointer;
}

.nav-right-side .nav-item {
    padding: 0 5px;
    position: relative;
}

.badge {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    background-color: #ff0017;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 32px;
    right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-image: url("avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.nav-right-side:last-child {
    padding-right: 0
}

.inbox-dropdown {
    display: none;
    width: 360px;
    height: 275px;
    padding: 8px 0;
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, .1);
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: dropdownAnimation;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 16px
}

.notif-dropdown {
    display: none;
    width: 160px;
    padding: 8px 0;
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, .1);
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: dropdownAnimation;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 8px
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
        transform: translateZ(0);
    }
}

.drp-header {
    padding: 11px 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center
}

.drp-header:hover {
    color: #16181b;
    background-color: #f8f9fa
}

.drp-badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 6px;
    margin-left: 40px;
    background-color: #ffc105;
    color: #ffffff;
    border-radius: 10rem
}

.drp-item {
    padding: 11px 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: row;
}

.drp-item:hover {
    background-color: #f8f9fa;
    color: #16181b
}

.drp-item:last-child {
    border: none
}

.preview-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ffffff;
    font-size: 16px;
    padding: 6px
}

.preview-icon i {
    padding: 0;
    margin: 0
}

.bg-success {
    background-color: #08d419 !important
}

.bg-warning {
    background-color: #ffc105 !important
}

.bg-info {
    background-color: #745af2 !important
}

.drp-item-text-container {
    padding: 0 0 0 15px;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: column
}

.drp-item-title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.2
}

.drp-item-text {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1
}

.nav-menu {
    width: 100%;
    height: 0;
    position: fixed;
    top: 60px;
    z-index: 1;
    background: linear-gradient(to right, #2392e7, #38bdfb);
    padding: 0;
    color: white;
    overflow: auto;
    transition: 0.3s
}

.nav-menu-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column
}

.nav-menu-list li {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
}

.nav-menu-list li i {
    margin-right: 8px
}

.nav-menu-list li:hover {
    cursor: pointer;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px
}

.side-nav {
    width: 255px;
    color: #212529;
    padding: 30px 0 50px;
    font-size: 16px
}

.side-nav ul {
    list-style-type: none
}

.side-nav ul li {
    display: flex;
    flex-direction: row;
    padding: 16px 30px;
    color: #4a4949;
    font-size: 14px;
    cursor: pointer
}

.side-nav ul li:hover {
    background: #f1f6ff !important;
    color: #4a4949
}

.side-nav ul li.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 26px 36px 19.008px;
    cursor: default !important
}


.side-nav ul li.profile:hover {
    background-color: #ffffff !important
}

.side-nav ul li i {
    width: 16px;
    margin-right: 20px
}

i.menu-arrow {
    margin-left: auto;
    margin-right: 0;
    color: #404852
}

.side-nav ul li.dropdown-btn:hover {
    cursor: default !important
}

.side-nav-avatar {
    width: 70px;
    height: 70px
}

.avatar-text-wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.avatar-text-wrapper p.name {
    line-height: 1.5;
    font-weight: 500;
    font-size: 15px;
    cursor: auto
}

.avatar-text-wrapper p.designation {
    color: #8d9498;
    font-size: 12px;
    line-height: 1.5;
    cursor: auto
}

.avatar-text-wrapper .profile-badge {
    color: #ffffff;
    background-color: #58d8a3;
    margin-top: 16px;
    padding: 4px 6px;
    border: 1px solid #58d8a3;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    cursor: auto
}

.side-nav-dropdown-list {
    width: 100%;
    list-style-type: none;
    background-color: #f1f6ff;
    color: #212529;
    font-size: 16px;
    padding: 0 0 0 36px;
    overflow: hidden;
    transition: 0.3s
}

.side-nav-dropdown-list li {
    color: #4a4949;
    font-size: 14px;
    padding: 12px 16px
}

.side-nav-dropdown-list li:hover {
    color: #000000 !important
}

.ui-components-drp {
    height: 0;
}

.sample-pages-drp {
    height: 0
}

.main-panel {
    width: calc(100% - 255px);
    background-color: #f6f8fa
}

.row {
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap
}

.card {
    max-width: 25%;
    width: 100%;
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    position: relative
}

.col-12,
.col-1,
.col-2,
.col-4,
.col-9 {
    width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

.grid-margin {
    margin-bottom: 20px
}

.card-body {
    padding: 1.88rem 1.81rem;
    flex: 1 1 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-content {
    vertical-align: middle;
    position: relative;
}

.card-content .card-icon {
    float: left;
    font-size: 36px;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0
}

.card-icon i {
    padding: 0;
    margin: 0
}

.color-success {
    color: #58d8a3
}

.color-warning {
    color: #ffc105
}

.color-info {
    color: #745af2
}

.color-danger {
    color: #ff0017
}

.card-content .card-info {
    float: right !important;
    text-align: right;
    color: #212529
}

.card-muted-text {
    margin-top: 1rem !important;
    color: #c2c2c2 !important
}

.card-info p {
    display: block;
    font-size: .88rem;
    padding: 0
}

.card-info h3 {
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 1.56rem
}

.card-body h5 {
    display: block;
    font-size: 1rem;
    margin-bottom: 1.5rem !important;
    line-height: 1.2;
    color: inherit;
    font-weight: bold
}

.table-responsive {
    width: 100%;
    overflow-x: auto
}

.card-body table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    border-color: gray;
    background-color: transparent;
    border-spacing: 2px
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

th {
    display: table-cell;
    font-weight: 500;
    border-top: 0;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1;
    vertical-align: bottom;
    padding: .8375rem;
    text-align: left
}

td {
    vertical-align: middle;
    font-size: .875rem;
    line-height: 1;
    padding: .8375rem;
    border-top: 1px solid #f3f3f3;
    display: table-cell;
    text-align: left
}

.table-badge {
    display: inline-block;
    border-radius: .25rem;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1;
    padding: .25rem .375rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    cursor: default
}

.badge-teal {
    color: #ffffff;
    background-color: #58d8a3;
    border: 1px solid #58d8a3;
}

.badge-warning {
    background-color: #ffc105;
    color: #ffffff;
    border: 1px solid #ffc105
}

.badge-danger {
    color: #ffffff;
    border: 1px solid #ff0017;
    background-color: #ff0017
}

.btn {
    display: inline-block;
    cursor: pointer !important;
    font-size: .875rem;
    line-height: 1;
    padding: .5rem .81rem;
    border-radius: .1875rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-outline-success {
    color: #08d419;
    background-color: transparent;
    background-image: none;
    border-color: #08d419
}

.btn-outline-success:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(8, 212, 25, .5);
    color: #fff;
    background-color: #08d419;
    border-color: #08d419
}

.btn-outline-success:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #08d419
}

.btn-outline-danger {
    color: #ff0017;
    background-color: transparent;
    background-image: none;
    border-color: #ff0017
}

.btn-outline-danger:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 23, .5);
    color: #fff;
    background-color: #ff0017;
    border-color: #ff0017
}

.btn-outline-danger:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #ff0017
}

a {
    text-decoration: none
}

.ticket-card {
    padding-bottom: .5rem !important;
    margin-top: 1rem !important;
    border-bottom: 1px solid #f3f3f3 !important;
    display: flex;
    flex-direction: row
}

.ticket-card:last-child {
    border-bottom: none !important
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.ticket-action {
    display: inline-flex
}

.ticket-avatar {
    width: 43px;
    height: 43px;
    border-radius: 50% !important;
    vertical-align: middle
}

.ticket-btn {
    font-size: .875rem;
    cursor: pointer;
    color: #ffffff;
    flex: 0 1 auto;
    padding: .5rem .81rem;
    margin: 0;
    line-height: 1;
    border-radius: .1875rem;
    background-color: #58d8a3;
    border-color: #58d8a3;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
    outline-offset: 0;
    box-shadow: none
}

.ticket-btn:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 216, 163, .5);
    color: #212529;
    background-color: #30cd8c;
    border-color: #2dc385
}

.ticket-btn:hover {
    background-color: #39d192;
    border-color: #30cd8c
}

.flex-div {
    display: flex !important
}

.primary-text {
    color: #1991eb !important;
    white-space: nowrap;
    font-weight: 700 !important;
    margin-right: .5rem !important
}

p {
    font-size: .88rem;
}

.font-weight-medium {
    font-weight: 500;
    margin-right: .25rem !important
}

.font-weight-bold {
    max-width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700 !important
}

.gray-text {
    color: #8c8c8c;
    font-size: .875rem !important;
    margin-bottom: 1rem
}

.text-muted {
    color: #c2c2c2 !important
}

.mr-2 {
    margin-right: .5rem;
}

.content-wrapper {
    background: #f6f8fa;
    padding: 1.5rem 1.7rem;
    width: 100%;
    flex-grow: 1;
}

.footer {
    display: block;
    background: #f6f8fa;
    padding: 20px 1rem;
    border-top: 1px solid #f3f3f3 !important;
    font-size: 0.825rem
}

.footer-container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

.footer-float-left {
    display: block;
    color: #c2c2c2 !important
}

.footer a {
    color: #08d419;
    font-size: inherit;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer
}

.footer a:hover {
    text-decoration: underline
}

.footer-float-right {
    display: block;
    text-align: center !important;
    float: right
}

.footer-float-right i {
    color: #ff0017 !important
}

@media screen and (max-width: 992px) {
    .brand {
        width: 177px;
    }

    .side-nav {
        display: none
    }

    .main-panel {
        width: 100%
    }
}


@media screen and (max-width: 768px) {
    .brand {
        float: right;
        width: 255px
    }

    .nav-right-side {
        display: none
    }

    .nav-left-side {
        display: none
    }

    .menu-icon {
        display: inline-block
    }

    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}