* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif
}

.nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, #2392e7, #38bdfb);
    padding: 0;
    color: white
}

.brand {
    width: 255px;
    height: 100%;
    background-color: white;
    color: #343434;
    font-size: 20px;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.brand:hover {
    cursor: pointer
}

.menu-icon {
    display: none;
    height: 100%;
    cursor: pointer;
    color: hsla(0,0%,100%,.5);
    border-color: hsla(0,0%,100%,.1);
    outline: 0;
    padding: 4px 12px;
    font-size: 36px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
    /* display: inline-block;
    text-align: center;
    align-items: flex-start; */
}

.menu-icon i {
    padding: 0;
    margin: 0
}

.nav-left-side {
    height: 100%;
    margin-left: 40px;
    float: left;
    display: flex;
    flex-direction: row;
    font-size: 14px
}

.nav-right-side {
    height: 100%;
    margin-right: 40px;
    float: right;
    display: flex;
    flex-direction: row;
    font-size: 18px
}

.nav-item {
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.nav-item i {
    margin-right: 8px
}

.nav-item:hover {
    cursor: pointer;
}

.nav-right-side .nav-item {
    padding: 0 8px;
    position: relative;
}

.badge {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    background-color: #ff0017;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 32px;
    right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-image: url("avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.nav-right-side:last-child {
    padding-right: 0
}

.inbox-dropdown {
    display: none;
    width: 360px;
    height: 275px;
    padding: 8px 0;
    box-shadow: 0 0 13px -3px rgba(0,0,0,.1);
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: dropdownAnimation;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 16px
}

.notif-dropdown {
    display: none;
    width: 160px;
    padding: 8px 0;
    box-shadow: 0 0 13px -3px rgba(0,0,0,.1);
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: dropdownAnimation;
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 243, 243);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 8px
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    
    100% {
        opacity: 1;
        transform: none;
        transform: translateZ(0);
    }
}

.drp-header {
    padding: 11px 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center
}

.drp-header:hover {
    color: #16181b;
    background-color: #f8f9fa
}

.drp-badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 6px;
    margin-left: 40px;
    background-color: #ffc105;
    color: #ffffff;
    border-radius: 10rem
}

.drp-item {
    padding: 11px 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: row;
}

.drp-item:hover {
    background-color: #f8f9fa;
    color: #16181b
}

.drp-item:last-child {
    border: none
}

.preview-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #ffffff;
    font-size: 16px;
    padding: 6px
}

.preview-icon i {
    padding: 0;
    margin: 0
}

.bg-success {
    background-color: #08d419 !important
}

.bg-warning {
    background-color: #ffc105 !important
}

.bg-info {
    background-color: #745af2 !important
}

.drp-item-text-container {
    padding: 0 0 0 15px;
    font-size: 14px;
    color: #212529;
    display: flex;
    flex-direction: column
}

.drp-item-title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.2
}

.drp-item-text {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1
}

@media screen and (max-width: 992px){
    .brand {
        width: 177px;
    }
}


@media screen and (max-width: 768px){
    .brand {
        float: right;
        width: 255px
    }

    .nav-right-side {
        display: none
    }

    .nav-left-side {
        display: none
    }

    .menu-icon {
        display: inline-block
    }
}